<h1>Our Menu</h1>
  <hr>
  <h2>Western desserts</h2>
  <div class="div5">
    <img src="../../../assets/imgs/kobby.png" class="a">
    <img src="../../../assets/imgs/eclair@2x.png" class="aa">
    <img src="../../../assets/imgs/cupcack2x.png" class="aaa">
  </div>
  <h3>see more</h3>
  <h2>Eastern desserts</h2>
  <div class="div6">
    <img src="../../../assets/imgs/engin@2x.png" class="a">
    <img src=" ../../../assets/imgs/the-lore@2x.png" class="aa">
    <img src="../../../assets/imgs/alex@2x.png" class="aaa">
  </div>
  <h3>see more</h3>
  <h2>Ice cream</h2>
  <div class="div7">
    <img src="../../../assets/imgs/ice cream 22$@2x.png" class="a">
    <img src="../../../assets/imgs/sheri@2x.png" class="aa">
    <img src="../../../assets/imgs/anna@2x.png" class="aaa">
  </div>
  <h3>see more</h3>
  <h2>Cakes</h2>
  <div class="div8">
    <img src="../../../assets/imgs/deva.png" class="a">
    <img src="../../../assets/imgs/cake.png" class="aa">
    <img src="../../../assets/imgs/millefeuille@2x.png" class="aaa">
  </div>
  <h3>see more</h3>





