*{
  box-sizing: border-box;
  font-family: "Roboto";
}

body{
  margin: 0;
  padding: 0;

}
header{
	background: white;
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 100%;
    position:sticky ;
    top:0;

}
.imgs{
 	  margin-top:40px;
 	margin-left:-50px;
  width: 110%;

}
.link{
 margin-top:50px;
          font-size: 32px;
          color: black;
          display: flex;
           width: 30%;
          margin-left: -400px;
}
.link1,.link2{
	color: black;
	text-decoration: none;
	margin-right: 30px;
  }
.link1:hover{
	color:#CBA878;
}
.link2:visited{
	color:#CBA878;
}
.run{
  width: 60px;
  height: 60px;
  margin-top: 45px;
  margin-right:-85px;
}
nav{
 height: 2500px;
}
h1{
margin-left: 100px;
width: 240px;
height: 66px;
text-align: left;
font: normal normal normal 55px/66px Roboto;
letter-spacing: 0px;
color: #D7B27F;
opacity: 1;

}
hr{
    border: .5px solid gray ;
 display: block;
   margin-left: 100px;
  margin-right: 20px;
  width: 80%;
}
h2{
  width: 343px;
height: 52px;
margin-left: 100px;
color: var(---cb6a61);
text-align: left;
font: normal normal normal 43px/115px Roboto;
letter-spacing: 0.6px;
color: #000000;
opacity: 1;
}
.div5{
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;

}
.a,.aa,.aaa{
  width:380px;
    height:320px;
}
.a{
  margin-left: 100px;


}
.aa{
  margin-left: 70px;
  margin-right: 20px;

}
.aaa{
  margin-left: 50px;
  margin-right: 50px;
 }
 h3{
   margin-top: 0px;

margin-left: 1170px;
width: 201px;
 text-align: right;
font: normal normal normal 43px/90px Roboto;
letter-spacing: 3.4px;
color: #804E34;
opacity: 1;
 }
 .div6{
  display: flex;
    margin-top: 50px;
 }
 .div7{
  display: flex;
    margin-top: 50px;
 }
 .div8{
display: flex;
    margin-top: 50px;

 }


.thelast{
  background-color:#C19468;
  height: 600px;
}
.one{
  margin-left: 60px;
  padding-top: 50px;
}
.three{
  display: flex;
}
h4{
  margin-top: 70px;
  margin-left: 290px;
width: 498px;
height: 81px;
color: var(---cb6a61);
text-align: left;
font: normal normal normal 42px/43px Roboto;
letter-spacing: 0.22px;
color: #000000;
}
.email{
width: 503px;
height: 60px;
background: #F2F2F2 0% 0% no-repeat padding-box;
border-radius: 15px;
border: none;
margin-left: 290px;
font: normal normal normal 22px/27px Roboto;
letter-spacing: 0px;
opacity: 1;
outline: none;

 }
label{
  position: relative;
}
.bu{
  position: absolute;
    top:5;
    bottom: 4;
    right: 0;
  height: 60px;
    width: 150px;
    padding: 9px 15px;
    background-color:#804E34;
    color: white;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: 20px;
 }
 .big{
  display: flex;
 }
 .visa{
  display: flex;
  margin-left: 120px;
  margin-right: 20px;
 }
 .fa{
  margin-right: 25px;
 }
 .hand{
  margin-right: 25px;
 }
 .face{
  display: flex;
  margin-left: 120px;
 }
 .book{
  margin-right: 20px;

 }
 .ins{
    margin-right: 20px;
 }
 .tw{
    margin-right: 20px;

 }
 .v{
  font-size: 35px;
  color: white;
  margin-left: 100px;
  margin-top: 50px;
 }
 .vv{
  font-size: 35px;
  color: white;
  margin-left: 100px;
  margin-top: 50px;
 }
 .vvv{
  font-size: 35px;
  color: white;
  margin-left: 120px;
  margin-top: 50px;
 }
.gmail,.num{
font: normal normal normal 28px/31px Roboto;
letter-spacing: 0px;
color: #804E34;
opacity: 1;
margin-left: 95px;

}
.hr{
  border: 1px solid #804E34 ;
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: -250px;
  margin-right: 300px;
  width: 100%;
}
.final{
  color:#804E34;
  font: normal normal normal 25px/35px Roboto;
text-align:center;
margin-right:330px;
}


@media (max-width:767px) {
       .imgs{
          width :90px;
          height:60px;
           margin-top:10px;
          margin-left:-10px;

       }
   .link{
          margin-top:20px;
          font-size: 20px;
          color: black;
          display: flex;
           margin-left: 20px;
}
.link1{
  margin-left: -70px;
  margin-right: 5.0px;
}
.run{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: -0px
 }
h1{
  font-size: 45px;
  margin-left: 45px;
}
hr{
   margin-left: -20px;
}
h2{
  font-size: 30px;
  margin-left: 35px;
}
.div5{
  display: inline-block;
}
.a,.aa,.aaa{
  width: 275px;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}
h3{
  margin-left: 50px;
}
.div6{
  display: inline-block;
}
.div7{
  display: inline-block;
}
.div8{
  display: inline-block;
}
.nav{
 color :#804E34;
  height: 4500px;
}
.thelast{
  color :#804E34;
  height:1200px;
  margin-top: 2500px;
}
.three{
  display: inline-block;

}
.man{
  width: 200px;
  height: 200px;
}
h4{
  margin-left: 20px;
  font-size: 25px;
  width: 300px;
}
.email{
width: 260px;
height: 50px;
background: #F2F2F2 0% 0% no-repeat padding-box;
border-radius: 15px;
border: none;
margin-left: 20px;
font: normal normal normal 18px/20px Roboto;
letter-spacing: 0px;
opacity: 1;
outline: none;
}
label{
  position: relative;
}
.bu{
    position: absolute;
    top:5;
    bottom: 4;
    right: 0;
    height: 50px;
    width: 90px;
    padding: 9px 15px;
    background-color:#804E34;
    color: white;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: 15px;
 }
.big{
   display: inline-block;
}
 .v{
  font-size: 25px;
  color: white;
  margin-left: 80px;
  margin-top: 50px;
 }
.vv{
  font-size: 25px;
  color: white;
  margin-left: 60px;
  margin-top: 50px;
    text-align: center;

 }
 .vvv{
  font-size: 25px;
  color: white;
  margin-left: 60px;
  margin-top: 50px;
    text-align: center;

 }
.visa{
  margin-left: 60px;
}
.face{
  margin-left: 110px;
}
.gmail,.num{
  font: normal normal normal 20px/21px Roboto;
letter-spacing: 0px;
color: #804E34;
opacity: 1;
text-align: center;
}
.hr{
    border: 1px solid #804E34 ;
 display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 10px;
  margin-right: -10px;
  width:70%;
  text-align: center;
}
.final{
  font-size: 15px;
  text-align: center;
   margin-left: -60px;
   margin-right: 10PX;
}
.tt{
  width: 250px;
  height: 300px;
  margin-left:5px;
}





}
