.first h1 {
  margin-bottom: 30px;
}
.par1{
  font-size: 30px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 10ox;


} .last{
  margin-top: 50px;

}
@media (max-width:767px) {
  .par1{
    margin-top: 400px;
  }


}
