<nav>
  <div class="first">
    <h1 style="margin-top:60px;">Enjoy with best taste for desserts</h1>

    <p  class="par1"style="color: black;">Sukkar is a pastry shop where delicious candy and desserts. Choose your favorite dessert from
      Sukkar's menu which is full of many kinds of desserts.</p>

    <div class="read"> <a href="/menuo" class="link1">Our Menu</a></div>
  </div>
  <div class="last">
    <img src="../../../assets/imgs/img4.png" class="img4">
  </div>

</nav>
<div class="class3">
  <div class="class4">
    <img src="../../../assets/imgs/donats@2x.png" class="class6">
  </div>
  <div class="class5">
    <img src="../../../assets/imgs/Weekend Offer@2x.png" class="img5">
    <p class="paragraph">2 Donates with Ice cream only with 60$ instead of 80$</p>
    <div class="link4"><a href="/postuser" class="link5">Buy it Now</a></div>
  </div>
</div>
<div class="terms">
  <h2>Trend Items</h2>
  <div class="term1">
    <div>
      <img src="../../../assets/imgs/cake.png" class="s">
      <div class="l">
        <h6>Choco Cake</h6>
        <h5>80$</h5>
      </div>
    </div>
    <div>
      <img src="../../../assets/imgs/deva.png" class="ss">
      <div class="ll">
        <h6>Cupcake</h6>
        <h5>19$</h5>
      </div>

    </div>
    <div>
      <img src="../../../assets/imgs/kobby.png" class="sss">
      <div class="lll">
        <h6>Donates</h6>
        <h5>10$</h5>
      </div>
    </div>
  </div>
</div>

<div class="term4">
  <h2>Family Sukkar</h2>
  <div class="term1">
    <div>
      <img src="../../../assets/imgs/cup.png" class="n">
      <div class="m">
        <h6>cupcake</h6>
        <h5>40$</h5>
      </div>
    </div>
    <div>
      <img src="../../../assets/imgs/cupcack.png" class="nn">
      <div class="mm">
        <h6>Cookies</h6>
        <h5>65$</h5>
      </div>

    </div>
  </div>
</div>
