<div class="thelast">
  <div class="three">
    <div class="one">
      <img src="..//../../assets/imgs/man.png" class="tt">
    </div>
    <div class="twe">
      <h4>Subscribe now to get latest news from Sukkar!</h4>
      <label>
        <input type="email" name="email" placeholder="yourname@gmail.com" class="email">
        <a routerLink="/home"><button type="submit" class="bu">Subscribe</button></a>
      </label>
      <div class="big">
        <div class="div1">
          <p class="v">Payment methods</p>
          <div class="visa">
            <img src="..//../../assets/imgs/fa.png" class="fa">
            <img src="..//../../assets/imgs/hand.png" class="hand">
            <img src="..//../../assets/imgs/vi.png" class="vi">

          </div>

        </div>
        <div class="div2">
          <p class="vv">Follow us</p>
          <div class="face">
            <img src="..//../../assets/imgs/face.png" class="book">
            <img src="..//../../assets/imgs/ins.png" class="ins">
            <img src="..//../../assets/imgs/tw.png" class="tw">

          </div>

        </div>
        <div class="div3">
          <p class="vvv">Contact us</p>
          <p class="gmail">suukar@gmail.com</p>
          <p class="num">+0201112223344</p>

        </div>
      </div>
      <hr class="hr">

      <p class="final">All rights preserved for sukkar.com 2023 by nada hamdy</p>
    </div>
  </div>
</div>
