h6{
  color: black;
}
h5{
  margin-right: 70px;
  text-align: center;
  color: rgb(15, 15, 213);
  background-color:burlywood;
  width: auto;
  height: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
